* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    min-height: 100vh;
    background-color: #4c07de;
}

.part-1 {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
}

#btn {
    width: 22vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav #btn a {
    color: #fff;
    font-size: .7rem;
    letter-spacing: .3rem;
    border: 3px solid #50f7a6;
    border-radius: 2.5rem;
    padding: 1.3rem 2.5rem;
    background-color: #4c07de;
}

nav #btn a:hover {
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.ri-menu-line {
    font-size: 1.5rem;
    color: #fff;
}

nav #text h3 {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 800;
}

.ri-menu-line:hover {
    font-size: 1.7rem;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.part-1-middle {
    width: 70vw;
    height: 55vh;
}

.part-1-middle h1 {
    font-size: 9vw;
    color: #fff;
    line-height: 9vw;
}

.part-1 #img {
    position: absolute;
    top: 80%;
    right: 10%;
    width: 15vw;
    height: 32vh;
    background-image: url(https://assets.website-files.com/640256f45361e5c4782b15ad/64be9eaaa7a5d0cbc844dc31_healthy-disregard.svg);
    background-size: cover;
    background-position: center;
}

.part-1 #img {
    animation: circle 9s linear infinite;
    animation-duration: 30s;
    animation-delay: 1s;
}

.part1__sq {
    position: absolute;
    position: fixed;
    right: 0%;
    top: 35%;
    width: 4vw;
    height: 29vh;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1vw 0;
    z-index: 9;
}

.part1__sq h4 {
    font-size: 1.3rem;
    font-weight: 700;
}

h5 {
    writing-mode: vertical-lr;
    font-size: .8rem;
}

@keyframes circle {
    100% {
        rotate: 360deg;
    }
}

.part-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videotag {
    width: 65%;
    height: 45vh;
    /* background-color: lightseagreen; */
}

.videotag video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loader {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: absolute;
}

.smcircle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 100px;
    position: absolute;
    top: 40%;
    left: 43%;
    transform: translate(-50% -50%);
}

.bgcircle {
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: 5px solid #fff;
    border-radius: 100px;
    position: absolute;
    top: 42%;
    left: 44%;
    transform: translate(-50% -50%);
    border-top-color: #333;
    animation: bgcircle 1s infinite;
}

@keyframes bgcircle {
    100% {
        rotate: 360deg;
    }
}

.part-3 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.part-3 h1 {
    font-size: 11vw;
    color: #fff;
    text-align: center;
    line-height: 11vw;

}

.part-3 h4 {
    width: 48%;
    font-size: 2.5vw;
    color: #fff;
    position: absolute;
    left: 52%;
    top: 62%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    line-height: 4vw;
}

.part3__btn {
    width: 3.4vw;
    height: 14vh;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 10%;
}

.part-4 {
    width: 100%;
    height: 155vh;
    background-color: #fff;
    position: relative;
}

.part-4 h1 {
    color: rgb(2, 2, 21);
    font-size: 7vw;
    padding: 10vw 5vw;
}

.part-4 h3 {
    position: absolute;
    top: 50%;
    left: 10%;
    font-weight: 300;
}

.part-4 .h1 {
    position: absolute;
    top: 43%;
    left: 5.5%;
    font-size: 4.5vw;
    font-weight: 450;
    z-index: 9;
    line-height: 5vw;
    opacity: .8;
}

.part4__img1 {
    position: absolute;
    right: 0%;
    top: 40%;
    width: 70vw;
    height: 80vh;
    background-image: url(https://assets.website-files.com/640256f45361e5c4782b15ad/64b158c315647ed115994f82_horizon_casestudy_cover-p-1600.webp);
    background-size: cover;
    background-position: center;
}

.part-5 {
    width: 100%;
    height: 80vh;
    background-color: #fff;
    position: relative;
}

.part5__img {
    width: 47vw;
    height: 60vh;
    position: absolute;
    left: 10%;
    background-image: url(https://assets.website-files.com/640256f45361e5c4782b15ad/64b16b0e38183ddb802eea6c_wgh_casestudy_cover-p-1080.webp);
    background-size: cover;
    background-position: center;
}

.part-5 h4 {
    position: absolute;
    right: 31%;
    top: 12%;
    font-weight: 300;
}

.part-5 h1 {
    position: absolute;
    right: 12%;
    top: 20%;
    width: 24%;
    opacity: .7;
    font-weight: 500;
    line-height: 3.5vw;
}

.part-6 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.part6__text {
    width: 25vw;
    height: 60vh;
    padding: 2vw 0vw;
}

.part6__text h3 {
    font-weight: 300;
    text-transform: capitalize;
    opacity: .7;
}

.part6__text h1 {
    font-weight: 500;
    padding-top: 2.5vw;
    opacity: .7;
}

.part6__img {
    width: 50vw;
    height: 60vh;
    background-image: url(./Assets/64b00d29d9bb443408ec39f6_wb_casestudy_businesscards-p-2000.webp);
    background-size: cover;
    background-position: center;
}

.part-7 {
    width: 100%;
    height: 90vh;
    background-color: #fff;
    position: relative;
}
.part-7 h1{
    position: absolute;
    top: 30%;
    font-size: 12vw;
    letter-spacing: 5vw;
    color: #b309c3;
    opacity: .05;
}

.part7__btn {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part7__btn-atag {
    width: 20vw;
    height: 12vh;
    display: flex;
    align-items: center;
    border-radius: 3rem;
}
.part7__btn-atag:hover{
    background-color: #50f7a6;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}
.part7__btn-circle {
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #50f7a6;
    border-radius: 5vw;
}
.part7__btn-link{
    z-index: 99;
}
.part7__btn-link a {
    text-decoration: none;
    color: #000;
    letter-spacing: 5px;
    padding-left: 2rem;
    text-transform: uppercase;
}
.part7__text{
    width: 100%;
    height: 3vh;
    margin-top: 40vh;
}
.part7__text .span1{
    color: #4c07de;
}
.part7__text .span2{
    color: #b309c3;
}
.part-8{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part8__content{
    width: 60vw;
    height: 75vh;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 3vw;
    margin-left: 12vw;
}
.part8__content h4{
    font-weight: 500;
}
.part8__content h1{
    font-weight: 500;
    width: 95%;
    font-size: 2.5rem;
    line-height: 5vw;
    opacity: .7;
}
.part8__content h1 span{
    font-weight: 800;
    opacity: 1;
    color: #000;
}


@media (max-width: 500px) {
    .part-1 {
        width: 85%;
        height: 52vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .part-2 {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        width: 73%;
        height: 20vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4vw;
    }

    nav #btn a {
        color: #fff;
        font-size: .45rem;
        letter-spacing: .3rem;
        border: 3px solid #50f7a6;
        border-radius: 2.5rem;
        padding: 0.3rem 1.5rem;
        background-color: #4c07de;
    }

    #btn {
        width: 16vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: flex;
        gap: 4vw;
    }

    .part-1-middle h1 {
        font-size: 12vw;
        line-height: 12vw;
    }
}